@charset "utf-8";

/*---------------------------------
	CSS 2016.10.20
	CSS 担当者名:小林
	Last Update 2010.00.00 担当者名
---------------------------------*/

/* レイアウトサイズ
----------------------------------------------------------------*/
body {

	width: 100%;
	min-width: 1000px;
}
@media screen and (max-width: 640px) {
body {
	min-width: initial;
	min-width: auto;

}
}
#conbox {
	padding: 86px 0 0;
}
@media screen and (max-width: 640px) {
#conbox {
	padding: 60px 0 0;
	min-width: initial;
	min-width: auto;
}
}


/*　ヘッダー
----------------------------------------------------------------*/
/*ヘッダー大枠・内枠*/
header {
	position: fixed;
	top: 0;
	margin: 0;
	width: 100%;
	height: 86px;
	z-index: 1000;
	background: #FFF;
	border-bottom: 3px solid #78b97f;
}
header .header-inner {
	margin: 0 auto;
	width: 1000px;
	height: 80px;
}
@media screen and (max-width: 640px) {
header {
	height: 60px;
}
header .header-inner {
	width: 100%;
	height: auto;
	position: relative;
}
}

/*ロゴ*/
.logo-box {
	float: left;
}
.logo-box h1{
	padding: 15px 0 15px 10px;
	text-align: left;
}
@media screen and (max-width: 640px){
.logo-box {
	float: none;
	padding: 0;
}
.logo-box h1 {
	padding: 5px 0 5px 10px;
	width: auto;
	height: auto;
}
.logo-box h1 img {
	width: 200px;
	height: auto;
	vertical-align: text-bottom;
}
}

/* お問い合せエリア */
#box-hd-contact {
	float: right;
	width: 400px;
}
#box-hd-contact .box-hd-info {
	float: left;
	width: 230px;
	letter-spacing: 0;
}
#box-hd-contact .box-hd-info .hd-tel {
	margin: 0;
	padding-left: 0.25em;
	font-size: 1.75em;
	font-weight: bold;
	color: #CCC;
	letter-spacing: inherit;
	line-height: 1.2;
	font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}
#box-hd-contact .box-hd-info .hd-tel a {
	font-weight: initial;
	letter-spacing: initial;
	color: initial;
	color: #CCC;
}
#box-hd-contact .box-hd-info .hd-tel span {
	position: relative;
	top: -0.5em;
	margin: 0 5px 0 0;
	padding: 3px 2px 2px;
	background: #CCC;
	font-size: 0.429em;
	color: #FFF;
	letter-spacing: inherit;
}
#box-hd-contact .box-hd-info .hd-time {
	font-size: 0.875em;
	letter-spacing: inherit;
}
#box-hd-contact .box-hd-mail {
	float: right;
	padding: 0 5px 0 0;
}
#box-hd-contact .box-hd-mail a {
	display: inline-block;
	padding: 15px;
	width: 160px;
	background: #666;
	text-align: center;
	color: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#box-hd-contact .box-hd-mail a i {
	color: #FFF;
}
@media screen and (max-width: 640px) {
#box-hd-contact {
	float: none;
	width: 100%;
	text-align: center;
}
#box-hd-contact .box-hd-info {
	float: none;
	margin: 0 auto;
	width: 230px;
	letter-spacing: 0;
}
#box-hd-contact .box-hd-info .hd-tel a {
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: initial;
	line-height: 1.2;
}
#box-hd-contact .box-hd-mail {
	float: none;
	margin: 0 auto;
}
#box-hd-contact .box-hd-mail a {
	padding: 8px;
}
}

/*グローバルナビ*/
.nav-box{
	float: right;
}
nav {
	position: relative;
}

#globalnav {
	text-align: right;
	letter-spacing: -0.5em;
}
#globalnav:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
#globalnav li {
	display: inline-block;
	letter-spacing: normal;
}
#globalnav li:last-child {
	margin-right: 0;
}
#globalnav li a {
	display: block;
	padding: 27px 0;
	text-decoration: none;
	letter-spacing: -0.08em;
}
#globalnav li.end a {
	margin-right: 15px;
}
#globalnav li a:after {
    content: "/";
	margin: 0 10px;
	display: inline-block;
}
#globalnav li.end a:after {
    display: none;
}
#globalnav li.contact-nav a {
	display: inline-block;
	margin-right: 7px;
	padding: 3px 15px 1px;
	border: 1px solid #78b97f;
			border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	font-weight: bold;
	color: #78b97f;
}
#globalnav li.sns-nav {
	margin: 0 5px;
}
#globalnav li.contact-nav a:after,
#globalnav li.sns-nav a:after {
    display: none;
}
.slicknav_menu {
        display: none;
	float:right;
	padding:10px 0 0 30px;
}
@media screen and (max-width: 640px) {
.nav-box{
	position: absolute;
	top: 9px;
	right: 9px;
	bottom: 4px;
	float: none;
}
#toppage nav:before {
    top: -20px;
    height: 30px;
    background-size: 139%;
}
#globalnav{
	display: none;
}
}

/*お問い合せSNSナビ*/


/*メインイメージ*/
#img-main {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	background: #FFF;
}
#img-main:before {
	display: block;
	content:"";
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url(../images/common/dot.png) repeat;
	z-index: 10;
}
#img-main img {
	position: relative;
	vertical-align: bottom;
}
#img-main .main-catch {
	position: absolute;
	top: 48%;
	left: 0;
	right: 0;
	margin: auto;
	width: 700px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-text-shadow: 0 0 3px #000;
	-ms-text-shadow: 0 0 3px #000;
	text-shadow: 0 0 3px #000;
	z-index: 100;
}
  #img-main .main-catch span {
	display: block;
	font-size: 1.25rem;
	font-weight:  normal;
	color: inherit;
	letter-spacing: inherit;
}
@media screen and (max-width: 640px) {
#img-main {
	min-height: inherit;
}
#img-main img {
	max-width: inherit;
}
#img-main .main-catch {
	top: 50%;
	margin: 0 auto;
	padding: 30px;
	width: 100%;
	font-size: 1rem;
}
#img-main .main-catch span {
	font-size: 0.5rem;
}
}

/* サブイメージ */
#img-main-sub {
	position: relative;
	margin: 0 0 25px;
	padding: 0;
	width: 100%;
	min-height: 183px;
	overflow: hidden;
	background: #FFF;
}
#img-main-sub img {
	position: relative;
    left: 50%;
    margin-left: -700px;
	vertical-align: bottom;
}
#img-main-sub .main-catch {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	width: 700px;
	text-align: center;
	font-size: 2.25em;
	font-weight: normal;
	color: #FFF;
	letter-spacing: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-text-shadow: 0 0 3px #000;
	-ms-text-shadow: 0 0 3px #000;
	text-shadow: 0 0 3px #000;
 }
#img-main-sub .main-catch span {
	display: block;
	font-size: 0.61em;
	font-weight:  inherit;
	color: inherit;
	letter-spacing: inherit;
	font-family: "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

@media screen and (max-width: 640px) {
#img-main-sub {
	min-height: inherit;
}
#img-main-sub img {
    margin-left: -115%;
    vertical-align: bottom;
    width: 230%;
	max-width: inherit;
}
#img-main-sub .main-catch {
	top: 50%;
	margin: 0 auto;
	padding: 30px;
	width: 100%;
	font-size: 1.7em;
}
#img-main-sub .main-catch span {

}
}

/*スマホナビ*/
@media screen and (max-width: 640px) {
.slicknav_menu {
        display: block;
}
.menu {
	display: block;
}

label {
  color: #333;
	padding: 0;
	margin: 0;
  	cursor: pointer;
  	color: #AA8C50;
}
.menu li i {
	padding: 12px;
	color: #555;
	font-size: 2.2em;
}
input[type="checkbox"].on-off {
  	display: none;
}
.menu ul {
  	-webkit-transition: all 0.5s;
 	 -moz-transition: all 0.5s;
 	 -ms-transition: all 0.5s;
 	 -o-transition: all 0.5s;
 	 transition: all 0.5s;
  	margin: 0px;
  	padding: 30px;
  	list-style: none;
}
.menu li {
	color: #666;
    	letter-spacing: 1px;
    	position: relative;
    	font-size: 1em;
	position: relative;
	left: 2px;
	padding: 0 0 5px;
	margin: 0 0 5px;
	border-bottom: 1px solid #CCC;

}
.menu li ul {
	padding: 10px 0 0;
	text-align: center;
	letter-spacing: -0.5em;
}
.menu li li {
	display: inline-block;
	width: 31%;
	border-bottom: none;
	text-align: center;
	letter-spacing: normal;
}
.menu .sp_menu li {
	left: 0px;
	border-bottom: 1px solid #CCC;
}
.menu .sp_menu li a {
	position: relative;
	display: block;
	padding: .7em;
	width: 100%;
	background: #FFF;
	color: #666;
	font-weight: bold;
	z-index: 1000;
}
input[type="checkbox"].on-off + ul {
  	display: none;
}

input[type="checkbox"].on-off:checked + ul {
  	display: block;
  	margin-bottom: 20px;
}
.menu ul.topMenu {
	border: none;
	text-align: center;
}
.menu ul.topMenu li,
.menu ul.topMenu li a {
	display: inline;
	border: none;
	color: #333;
}
}
@media screen and (min-width: 641px) {
.menu{
	display: none;
}
}
@media print {
.menu{
	display: none;
}
}
/*パンくず
----------------------------------------------------------------*/
#topicpath {
	margin: 0;
	padding: 25px 0 0 0;
	min-height: 15px;
	font-size: 0.857em;
	color: #333333;
}
#topicpath a {
	color:#333;
	text-decoration: underline;
}
#topicpath a span {
	color:#666;
}
#topicpath:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
#topicpath .topicpath_inner {
	margin:0 auto;
	width: 1000px;
	min-height: 25px;
}
#topicpath .topicpath_inner p {
	padding: 0;
	width: 1000px;
	text-align: left;
}
@media screen and (max-width: 640px) {
#topicpath .topicpath_inner {
	padding: 0 20px;
	width: 100%;
}
#topicpath .topicpath_inner p {
	width: 100%;
}
}

/*メインコンテンツエリア
----------------------------------------------------------------*/
#wrapper {
	position: relative;
	margin: 0;
	z-index: 99;
}
.contents {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}
article:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.contents-main {
	float: left;
	padding-top: 70px;
	width: 600px;
}
.contents-sub {
	float: right;
	margin: 0;
	padding-top: 70px;
	width: 300px;
}
@media screen and (max-width: 640px) {
.contents {
	padding: 0 20px;
	width: 100%;
}
.contents-main {
	float: none;
	padding-top: 30px;
	width: 100%;
}
.contents-sub   {
	padding-top: 50px;
	float: none;
	width: 100%;
}
}

/*コンテンツエリア*/
#conbox {
	margin: 0 auto;
	width: 100%;
}
#conbox:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
@media screen and (max-width: 640px) {
}

/*リンク*/
a {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
a:hover, a:active {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: alpha(opacity=50);
  -webkit-filter: alpha(opacity=50);
}

/*外枠*/
.bg-normal {
	padding: 50px 0;
	background: #FFF;
}
.bg-color01 {
	padding: 50px 0;
	background: #f5f5f5;
}
@media screen and (max-width: 640px) {
.bg-normal {
	padding: 30px 0;
	background: #FFF;
}
.bg-color01 {
	padding: 30px 0;
	background: #f5f5f5;
}
}

/* 0210 追加ここから*/
/* PRICEだけの外枠の指定 */
.bg-color01.n-bg-color{
  margin-top: 10px;
  padding:50px 0 50px 0;
}

/* バナー */
.n-bunner-position{
  position: relative;
  top: 15px;
  display:block;
}

.n-bunner-position>img{
  width:600px;
  height:130px;
}

@media screen and (max-width: 640px) {
  .n-bunner-position>img{
    width:100%;
    height:auto;
  }
}

/* 0210 追加ここまで*/

/*サイドバー
----------------------------------------------------------------*/
#sidebar {
	width :100%;
}
#sidebar .archive_ttl {
	padding: 7px 15px;
	background: #333;
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
}
#sidebar .archive_list {
	margin: 0 0 30px;
}
#sidebar .archive_list li {
	padding: 15px;
	background: url(../images/common/icon_arrow01.png) no-repeat 15px center;
	border-bottom: 1px solid #CCC;
}
#sidebar li span {
	padding: 0px 0px 0px 10px;
}
@media screen and (max-width: 640px) {
#sidebar {
	float: none;
	width: 100%;
}
}

/*フッターエリア
----------------------------------------------------------------*/
footer {
	position: relative;
}
/*先頭へ戻る*/
#pagetop {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 1000;
}

/*コピーライト*/
.copyright-box{
	padding: 5px 0;
	color: #FFF;
	font-size: 0.75em;
	text-align: center;
	background: #9b937b;
}

@media screen and (max-width: 640px) {
.copyright-box{
	padding: 25px 20px;
	width: 100%;
}
}

/* タイトル共通
----------------------------------------------------------------*/
.ttl-common01 {
	margin: 0 0 40px;
	padding: 0;
	font-size: 2.375em;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	letter-spacing: 0;
font-family: 'Sura', serif;
}
.ttl-common01 span {
	display: block;
	font-size: 0.6875rem;
	color: #78b97f;
}
.ttl01.txt-col01 {
	color: #FFF;
}
.ttl-common02 {
	margin: 0 0 20px;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

@media screen and (max-width: 640px) {
.ttl-common01 {
	margin: 0 0 20px;
	padding: 0;
	font-size: 1.7em;
	text-align: center;
	line-height: 1;
}
.ttl-common01 span {
	display: block;
	margin: 5px 0;
	font-size: 0.6875rem;
	color: #78b97f;
}
.ttl01.txt-col01 {
	color: #FFF;
}
}
/* ボタン共通
----------------------------------------------------------------*/
.common-btn01 {
	text-align: center;
}
.common-btn01 a {
	display: inline-block;
	margin: 0;
	padding: 10px 25px;
	min-width: 430px;
	background: url(../images/common/icon_arrow01.png) no-repeat 95% 50% #474747;
	font-size: 1.125em;
	color: #FFF;
}
.common-btn01.bg-col01 a {
	background: url(../images/common/icon_arrow01.png) no-repeat 95% 50% #2179bd;
}
.common-btn02 {
}
.common-btn02 a {
	display: inline-block;
	margin: 0;
	padding: 10px 25px;
	min-width: 270px;
	background: url(../images/common/icon_arrow01.png) no-repeat 95% 50% #040302;
	text-align: center;
	font-size: 1em;
	color: #FFF;
}

.btn-attendant {
	margin: 0 0 20px;
	text-align: center;
}
.btn-attendant a {
display: inline-block;
margin: 5px 0 0;
padding: 3px 10px 1px;
font-size: 0.75rem;
font-weight: normal;
color: #78b97f;
border: 1px solid #78b97f;
}

@media screen and (max-width: 640px) {
.common-btn01 a {
	min-width: initial;
	width: 100%;
}
.common-btn02 a {
	min-width: initial;
	width: 100%;

}
}

/* コンテンツ共通
----------------------------------------------------------------*/
/*2カラムバナー*/
.box_bnr01 {}
.box_bnr01:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.box_bnr01 li {
	float: left;
	width: 465px;
}
.box_bnr01 li:nth-child(2) {
	float: right;
}
@media screen and (max-width: 640px) {
.box_bnr01 li {
	float: none;
	margin: 0 0 20px;
	width: 100%;
}
.box_bnr01 li:nth-child(2) {
	float: none;
}
}

/* プランボックス
----------------------------------------------------------------*/
.plan-list01:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.plan-list01 li {
	/* float: left;
	margin: 0 2% 2% 0;
	padding: 20px;
	width: 32%;
	min-height: 200px;
	border-collapse:collapse;
	background: #FFF; */
}
.plan-list01 li.end {
	/* margin: 0 0 2% 0; */
}
.plan-list01 li h3 {
	margin: 0 0 15px;
}
.plan-list01 li p {
	font-size: 0.875em;
}

@media screen and (max-width: 640px) {
.plan-list01 li {
	margin: 0 auto 2%;
	padding: 5% 10%;
	width: 100%;
	min-height: inherit;
}
}

/* 共通ボタン
----------------------------------------------------------------*/
.btn_common01 {
	text-align: center;
}
.btn_common01 a {
	display: inline-block;
	padding: 5px 35px;
	min-width: 210px;
	border: 2px solid #9b937b;
	text-align: center;
	color: #9b937b;
}
@media screen and (max-width: 640px) {
.btn_common01 a {
	min-width: 70%;
}
}

/* 文字装飾共通
----------------------------------------------------------------*/
#conbox .font-color1 {
	color: #FF6600;
}

/*トップページ
----------------------------------------------------------------*/
ul#tab {
	zoom: 1;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
ul#tab:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
ul#tab li {
	text-align: center;
}
ul#tab li:last-child {
	background: none;
}
ul#tab li a {
	display: block;
	position: relative;
	padding: 8px 0;
	text-decoration: none;
	color: #222;
}
ul#tab li a:hover {
	color: #fff;
}
ul#tab li.active,
ul#tab li.active a,
ul#tab li.active a:hover {
	color: #fff;
}
#detail {
	position: relative;
	clear: both;
	overflow: hidden;
	background: #f7f7f7;
	width: 100%;
	padding: 80px 0 50px;
}
#detail:before {
position: absolute;
top:0;
left:0;
right: 0;
margin: auto;
content: "";
display: block;
width: 0;
height: 0;
border-style: solid;
border-width: 50px 50px 0 50px;
border-color: #FFF transparent transparent transparent;
}

.detail-inner {
	margin: 0 auto;
	width: 1000px;
}
.tabbox {
	display: none;
}
.tabbox-inner {
	margin: 0 0 20px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
}
.top-atendant-ph {
	float: left;
	margin: 0;
	width: 30%;
}
.top-atendant-ph img{
	width: 100%;
	height: auto;
}
.top-atendant-txt {
	padding: 15px;
	width: auto;
	overflow: hidden;
}
.top-atendant-txt h3 {
	margin: 0 0 5px;
	font-size: 1.5em;
	font-weight: bold;
}
.top-atendant-txt h4 {
	margin: 0 0 5px;
	font-size: 1.125em;
	font-weight: normal;
}
.top-atendant-txt p {
	margin: 0 0 20px;
}
.text-coution {
	font-size: 0.77em;
}


#conbox .tabbox {
	position: relative;
}
#conbox .tabbox:after,
#conbox .tabbox:before {
    top: 40px;    /* 三角の垂直位置。上から40px */
    border: solid transparent;
    content: " ";
    height: 0;   /* 最重要。ボーダーのみにするために必須。*/
    width: 0;   /* 最重要。ボーダーのみにするために必須。*/
    position: absolute;
    pointer-events: none;
    right: 45%;    /* 重要。その要素の右端を親要素の左端と揃える。親要素とは「吹き出しボックス本体」。*/
}

#conbox .tabbox:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -69px;
    border-bottom-color: #fff;
}

#conbox .tabbox:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 15px;
    margin-top: -70px;
    border-bottom-color: #c8c8c8;
}
#test img {
	border-radius: 5%;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
}
#test h3 {
	text-align: center;
	font-size: 0.65rem;
}
#attendant .owl-carousel .owl-item {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	overflow: hidden;
}
#attendant .owl-carousel .owl-item img {
	height: auto;
}

@media screen and (max-width: 640px) {
.detail-inner {
	margin: 0 auto;
	width: 100%;
}
.top-atendant-ph {
	width: 40%;
}
.top-atendant-txt {
	width: auto;
	padding: 15px;
	overflow: hidden;
}
.top-atendant-txt h3 {
	margin: 0 0 5px;
	font-size: 1em;
	font-weight: bold;
}
.top-atendant-txt h4 {
	margin: 0 0 5px;
	font-size: 1em;
	font-weight: normal;
}
.top-atendant-txt p {
	margin: 0 0 20px;
	font-size: 0.77em;
}

}
/*流れ*/
.top-flow-list {

}
.top-flow-list:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.top-flow-list li {
	position: relative;
	float: left;
	margin: 0 20px 0 0;
	width: 150px;
}
.top-flow-list li:last-child {
	margin-right: 0;
}
.top-flow-list li:before {
	content: "";
	margin: 10px;
	position: absolute;
	top: 15%;
	right: -100%;
	width: 200px;
	height: 0;
	border-top: 3px dotted #adadad;
	z-index: 0;
}
.top-flow-list li:last-child:before {
	display: none;
}
.top-flow-list li:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.top-flow-ph {
	position: relative;
	margin: 0 0 15px;
	z-index: 1;
	text-align: center;
}
.top-flow-list li h3 {
	margin: 0 0 10px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}
.top-flow-list li p {
	font-size: 0.875em;
}
@media screen and (max-width: 640px) {
.top-flow-list li {
	position: relative;
	float: none;
	margin: 0 auto 40px;
	width: 100%;
}
.top-flow-list li:last-child {
	margin-right: auto;
	margin-bottom: 0;
}
.top-flow-list li:before {
	content: "";
	margin: 0;
	position: absolute;
	top: 25%;
	left: 15%;
	width: 0;
	height: 180px;
	border-top: none;
	border-left: 3px dotted #adadad;
	z-index: 0;
}
.top-flow-ph {
	float: left;
	width: 30%;
	margin: 0 20px 0 0;
}
.top-flow-list li h3,
.top-flow-txt {
	width: auto;
	overflow: hidden;
	text-align: left;
}
}
/*お知らせ*/
.bg-top-news {
	padding: 70px 0;
	background: url(../images/top/bg_news.gif) no-repeat 50% 0%;

}
.top-news-list {
	margin: 0 0 40px;
}

.top-news-list:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.top-news-list li {
	float: left;
	margin: 0 20px 0 0;
	width: 230px;
	text-align: center;
}
.top-news-list li:last-child {
	margin: 0 auto;
}
.news-txt-date {
	color: #848484;
}
.news-txt-category {
	display: inline-block;
	float: right;
	padding: 2px 5px 0;
	background: #e9e9e9;
	font-size: 0.875em;
	color: #848484;
}
@media screen and (max-width: 640px) {
.bg-top-news {
	padding: 30px 0;
	background: url(../images/top/bg_news.gif) no-repeat 50% 0%;

}
.top-news-list {
	margin: 0 0 40px;
}

.top-news-list:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.top-news-list li {
    margin: 0 6% 6% 0;
    width: 47%;
}
.news-txt-category {
	float: none;
	padding: 2px 5px 0;
	width:100%;
	background: #e9e9e9;
	font-size: 0.875em;
	color: #848484;
}
.top-news-list li:last-child {
	margin: auto;
}
.top-news-list li:nth-child(2n) {
    margin: 0 0 6% 0;
}
}

/*サービス*/
.bg-top-service {
	padding: 70px;
	background: url(../images/top/bg_service.gif) 50% 50% ;
}
.top-service-box-left {
    position: relative;
	float: left;
	width: 480px;
	height: 277px;
	border: 1px solid #CCC;
	overflow: hidden;
}
.top-service-box-right {
    position: relative;
	float: right;
	width: 480px;
	height: 277px;
	border: 1px solid #CCC;
	overflow: hidden;
}
.top-service-hover-box {
	padding: 20px 25px;
	width: 480px;
	height: 277px;
	background: #333;
	color: #FFF;
}

.top-service-box-right img ,
.top-service-box-left img {
    position: absolute;
    top: 0;
    left: 0;
	max-width: 100%;
	height: auto;
}
.boxcaption{
	float: left;
	position: absolute;
	padding: 14px 14px 70px;
	background: #000;
	height: 100%;
	width: 100%;
	opacity: .8;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
	top: 78%;
	left: 0;
}
.caption .boxcaption {
	top: 78%;
	left: 0;
}
.top-service-box-ttl {
	margin: 0 0 20px;
	font-size: 1.375em;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
.top-service-box-txt {
	color: #FFF;
}
.top-service-btn {
	position: absolute;
	bottom: 20px;
}
.top-service-btn a{
	display: block;
	padding: 10px;
	width: 450px;
	border: 1px solid #FFF;
	text-align: center;
	color: #FFF;
}
@media screen and (max-width: 640px) {
.bg-top-service {
	padding: 30px 0;
}
.top-service-box-left {
	float: none;
	margin-bottom: 20px;
	width: 100%;
	min-height: 277px;
}
.top-service-box-right {
    	float: none;
	width: 100%;
	min-height: 277px;
}
.top-service-box-right img ,
.top-service-box-left img {
position: absolute;
top: 50%;
left: 50%;
width: auto;
max-width: inherit;
height: 100%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}
.top-service-box-ttl {
	font-size: 1.17em;
}
.top-service-btn {
	position: initial;
	width: 100%;
}
.top-service-btn a{
	width: 100%;
}
}

/*採用情報*/
.bg-top-recruit {
	padding: 70px 0 130px;
	background: url(../images/top/bg_recruit.gif) no-repeat 50% 100% #fbfbfb;

}
.top-recruit-caption {
	margin: 0 0 40px;
	text-align: center;
	font-size: 1.625em;
}
@media screen and (max-width: 640px) {
.bg-top-recruit {
	padding: 30px 0;
}
.top-recruit-caption {
	text-align: center;
	font-size: 1.2em;
}
}

/* よくある質問*/
.top-faq-ques {
	position: relative;
	margin: 0 0 10px;
	padding: 10px 10px 10px 40px;
	background: #FFF;
	border: 1px solid #9b937b;
	font-size: 0.875em;
	font-weight: bold;
	cursor: pointer;
}
.top-faq-ance {
	position: relative;
	margin: 20px 0 20px;
	padding: 0 25px 0 40px;
	font-size: 0.875em;
}
.top-faq-ques:before {
	content:"Q.";
	position: absolute;
	left: 15px;
	top: 9px;
	font-weight: bold;
	color: #9b937b;
}
.top-faq-ance:before {
	content:"A.";
	position: absolute;
	left: 15px;
	top: 0px;
	font-weight: bold;
	color: #cf2d2d;
}

/*お問い合せ
-------------------------------------------------------------------------*/
/*お問い合せフォーム*/
#conbox .contact-tbl .contact-form {
  height: auto;
}
#conbox p#message-container-input {
	margin: 0 0 20px;
	color:#666;
	text-align: left;
}
#conbox .red {
	color:#F00;
}
#conbox table.contact-tbl {
	margin:0 auto 15px;
	padding: 3px;
	width: 100%;
	border-collapse: collapse;
}
#conbox table.contact-tbl th {
	padding: 20px 10px 20px 90px;
	width: 350px;
	border: none;
	font-weight: bold;
	font-size: 0.875rem;
}
#conbox table.contact-tbl th span {
	font-weight: normal;
	color: #ea5413;
}
#conbox table.contact-tbl th a {
	display: inline-block;
	margin: 5px 0 0;
	padding: 3px 10px 1px;
	font-size: 0.875rem;
	font-weight: normal;
	color: #78b97f;
	border: 1px solid #78b97f;
}
#conbox table.contact-tbl td {
	padding: 15px 10px 15px 25px;
	border:none;
	text-align:left;
	vertical-align: middle;
	font-weight: normal;
}
#conbox .contact-tbl input, .tbl-common01 select,
#conbox .contact-tbl input, .tbl-common01 option {
	color: #333;
}
#conbox .contact-tbl input,
#conbox .contact-tbl textarea {
padding: 10px;
width: 90%;
background: #ededed;
border: 1px solid #CCC;
	font-size: 1rem;
}
#conbox .contact-tbl .field {
	margin: 0 10px 0 0;
	width:30%;
	}
#conbox .contact-tbl .field_s {
	padding:5px;
	width:50%;
	position:relative;
}
#conbox .contact-tbl .field_s01 {
	padding:5px;
	width:35%;
	border:1px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position:relative;
}
#conbox .contact-tbl .zipcode {
	padding:5px;
	width:20%;
	border:1px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position:relative;
}
#conbox .contact-tbl .e_mail {
	padding:5px;
	width:90%;
	border:1px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position:relative;
}
#conbox .contact-tbl .inquiry {
	padding:5px;
	width:90%;
	height:200px;
	border:1px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position:relative;
}
#conbox .contact-tbl .submit-container {
	margin:0px 0px 50px;
	text-align:center;
}
#conbox .contact-tbl.contact-form {
	width: 100%;
}
#conbox .contact-form table.contact-tbl tr:hover{}
#conbox .common-btn01 input {
	display: inline-block;
	position: relative;
	margin: 20px 10px 1.25em;
	padding: 15px 35px;
	min-width: 320px;
	background: #FFF;
	border: 2px solid #9b937b;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	color: #9b937b;
}
#conbox .contact-tbl ul li input {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
#conbox .contact-tbl ul {
    margin-left: 0px;
}
@media screen and (max-width: 640px) {
#conbox .contact-tbl .field,
#conbox .tbl-common01 .field_s,
#conbox .tbl-common01 .field_s01,
#conbox .tbl-common01 .zipcode,
#conbox .tbl-common01 .e_mail,
#conbox .tbl-common01 .inquiry {
	width:100%;
}

#conbox table.contact-tbl{
	padding: 0;
}
#conbox table.contact-tbl th {
	display: block;
	padding: 0 0 15px 0;
	width: 100%;
	border: none;
	font-weight: bold;
}
#conbox table.contact-tbl td {
	display: block;
	padding: 0 0 15px;
}
#conbox .contact-tbl input, #conbox .contact-tbl textarea{
	width: 100%;
}
.contact-tbl input{
	width: 100%;
}
#conbox .contact-tbl input, #conbox .contact-tbl textarea{

}
#conbox .common-btn01 input {
	margin: 0;
	min-width: initial;
	width: 100%;
	 -webkit-appearance: none;
}
}
/*プライバシーポリシー*/
.box-privacy {
	margin:0;
	padding:35px 0 95px 0;
}
.box-privacy p {
	padding:0 10px;
}
.box-privacy dl {
	margin: 30px 0 50px;
}
.box-privacy dt {
	margin: 0 0 10px;
	padding: 13px 0 10px 0;
	border-bottom: solid 1px #ccc;
	font-weight: bold;
	color: #333;
}
.box-privacy dt:before {
	content:"\0025A0";
	margin: 0 10px 0 0;
}
.box-privacy dd {
	margin: 0 0 30px;
	padding: 0 0 0 15px;
}
.box-privacy dd ol {
	margin: 10px 0;
}
.box-privacy dd li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1em;
}
.box-privacy dd .about_box {
	margin: 20px 0;
	padding: 15px;
	width: 60%;
	border: 1px solid #CCC;
	text-align: center;
	line-height: 1.8;
}
.box-privacy dd .about_box span {
	font-weight: bold;
}
@media screen and (max-width: 640px) {
.box-privacy dd {
	padding: 0;
}
.box-privacy dd .about_box {
	width: 100%;
}
}

/* 動的ページ（投稿）
----------------------------------------------------------------*/

.attendant-list:after {
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.attendant-list li {
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	overflow: hidden;
}
.attendant-list li img {
	width: 100%;
	height: auto;
}




/* カテゴリー　一覧 */
.box-category-list-ttl{
	margin-bottom: 20px;
	padding: 0 0 0 60px;
	background: url(../images/common/icon_ttl01.png) no-repeat left center;
	font-size: 2.875em;
	line-height: 1;
	font-family:"Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
.box-category-list {
	margin: 0 0 50px;
}
.box-category-list li {
	padding: 15px 0;
	border-bottom: 1px solid #CCC;
}
.box-category-list li span {
    	font-size: 0.875em;
    	font-weight: bold;
}
@media screen and (max-width: 640px) {
.box-category-list-ttl{
    margin: 0 0 20px;
    padding: 35px 0 0 0;
	background: url(../images/common/icon_ttl01.png) no-repeat center top;
	text-align: center;
    font-size: 2em;
	line-height: 1;
}
.box-category-list {
	margin: 0;
}
}
/* 汎用固定ページ */
.nav-list {
	margin: 0 0 60px;
	text-align: center;
}
.nav-list li {
	position: relative;
	display: inline-block;
	padding: 20px;
	font-size: 1.125em;
}
.nav-list li:after {
	content: "｜";
	position: absolute
	;right: -15px;
}
.nav-list li:last-child:after {
	display: none;
}

/* カテゴリー　個別 */
.blog-post-box{
	width: 100%;
}
.blog-post-box h2{
	background-color: #f5f5f5;
	font-size: 1.375em;
	font-weight: bold;
	margin: 20px 0 20px 0;
	padding: 20px 10px;
}
.blog-post-box p{
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 28px;
}

/* エディター用 */
.editor-box h2{
	margin: 0 0 30px;
	padding: 25px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	font-size: 2.25em;
	text-align: center;
}
.editor-box p{
	margin: 0 0 1em;
}
.editor-box table{
	max-width: 100%;
}
.editor-box th,
.editor-box td{
	padding: 15px 20px;
}
strong { font-weight: bold; }
em { font-style: italic; }
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignright { float: right; margin-left:20px }
.alignleft { float: left; margin-right:20px }
@media screen and (max-width: 640px) {
.editor-box table{
	width: 100%!important;
}
.editor-box th,
.editor-box td{
	display: block;
	width: 100%!important;
	height: auto!important;
}
}

